attention
numpy
pandas
# sklearn # use conda install conda-forge::scikit-learn
tensorflow == 2.7.0
keras==2.7.0 # https://github.com/keras-team/keras
pytest
scipy
h5py
requests
joblib
Counter
pyyaml
networkx
matplotlib == 3.5.1
